table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

ul > li{
    border: 1px solid turquoise;
    padding: 10px;
    margin: 10px;
}
a {
    cursor: pointer;
    cursor: hand;
}
.center {
    text-align: center
  }